body {
    margin: 0%;
    padding: 0%;
    background: beige;
}

.name {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background: yellow;
}

.name .content{
    width: 80%;
    height: 30%;
    position: absolute;
    left: 20%;
    background: aqua;
}

.name .content .h1{
    color: black;
    font-family:'Roboto', sans-serif;
    margin-top: 0%;
    
}

.name .content .h2{
    color: black;
    font-family:'Roboto', sans-serif;
    margin-top: 0%;
}

.info{
    width: 90%;
    height: auto;
    background: aqua;
    margin: auto;
}
